@model IEnumerable<_13TPI_Pet_Adoption_and_Foster_Centre_NZ.Models.Pet>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Available Pets in Our Network</h1>

<div class="d-flex justify-content-end mb-3">
    <a asp-action="Create" class="btn btn-success" title="Create New">
        <i class="bi bi-plus-circle"></i>
    </a>
</div>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <label>Find by Name of PetName or PetAge: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" /></label>
            <input type="submit" value="Search" class="btn btn-default" />
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
    </form>
    

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetGroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Species)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageFile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetGroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Species)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetStatus)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.ImageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageFile)
            </td>
                <td class="text-center">
                    <div class="btn-group" role="group">
                        <a asp-action="Edit" asp-route-id="@item.PetID" class="btn btn-sm btn-warning" title="Edit">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.PetID" class="btn btn-sm btn-info" title="Details">
                            <i class="bi bi-eye"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.PetID" class="btn btn-sm btn-danger" title="Delete">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </td>
        </tr>
        }
        
       
    </tbody>
</table>
