@model IEnumerable<_13TPI_Pet_Adoption_and_Foster_Centre_NZ.Models.Coordinator>

@{
    ViewData["Title"] = "Index";
}

<h1>Coordinator</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FranchiseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetGroupID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperienceLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageFile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FranchiseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetGroupID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienceLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageFile)
                </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.CoordinatorID">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.CoordinatorID">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CoordinatorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
