@model _13TPI_Pet_Adoption_and_Foster_Centre_NZ.Models.MedicalRecord

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MedicalRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClinicName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClinicName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Treatment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Treatment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VaccinationStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VaccinationStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MicrochipID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MicrochipID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialNeeds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialNeeds)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MedicalID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
