@model IEnumerable<_13TPI_Pet_Adoption_and_Foster_Centre_NZ.Models.MedicalRecord>

@{
    ViewData["Title"] = "Pet Medical Records";
}

<h1>Medical Records of User's Pets</h1>

<p>
    <a class=" btn btn-primary" asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <label>Find by Name of Shelter Location PostCode or Region: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" /></label>
            <input type="submit" value="Search" class="btn btn-default" />
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PetID)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["VetNameSortParm"]">@Html.DisplayNameFor(model => model.VetName)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ClinicNameSortParm"]">@Html.DisplayNameFor(model => model.ClinicName)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Treatment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaccinationStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MicrochipID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialNeeds)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PetID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClinicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Treatment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaccinationStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MicrochipID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialNeeds)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.MedicalRecordID">Edit</a> |
                <a class= "btn btn-info" asp-action="Details" asp-route-id="@item.MedicalRecordID">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MedicalRecordID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
