  @model IEnumerable<_13TPI_Pet_Adoption_and_Foster_Centre_NZ.Models.AdminOffice>

@{
    ViewData["Title"] = "Admin Offices";
    ViewData["PageName"] = "Admim Offices";
}

<h1>Admin</h1>

<div class="d-flex justify-content-end mb-3">
    <a asp-action="Create" class="btn btn-success" title="Create New">
        <i class="bi bi-plus-circle"></i>
    </a>
</div>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <label>Find by last name or access level: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" /></label>
            <input type="submit" value="Search" class="btn btn-default" /> 
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <<th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.AccessLevel)</a>
           </th> 
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.LastName)</a>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateHired)
            </th>
            <
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.AccessLevel)</a>
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageFile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateHired)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessLevel)
            </td>

            <td class="text-center">
                <div class="btn-group" role="group">
                    <a asp-action="Edit" asp-route-id="@item.AdminID" class="btn btn-sm btn-warning" title="Edit">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.AdminID" class="btn btn-sm btn-info" title="Details">
                        <i class="bi bi-eye"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.AdminID" class="btn btn-sm btn-danger" title="Delete">
                        <i class="bi bi-trash"></i>
                    </a>
                </div>
                </td>
        </tr>
}
    </tbody>
</table>
