@model IEnumerable<_13TPI_Pet_Adoption_and_Foster_Centre_NZ.Models.Franchise>

@{
    ViewData["Title"] = "Index";
}

<h1>Pet Adoption and Foster Centres NZ Franchises</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <label>Find by Name of Frqanchise or operating hours: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" /></label>
            <input type="submit" value="Search" class="btn btn-default" /> 
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.FranchiseName)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.OperatingHours)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FranchiseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperatingHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerID)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.FranchiseID">Edit</a> |
                <a class ="btn btn-info" asp-action="Details" asp-route-id="@item.FranchiseID">Details</a> |
                <a class ="btm btn-danger" asp-action="Delete" asp-route-id="@item.FranchiseID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
