@model IEnumerable<Payment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.PaymentID" class="btn btn-sm btn-outline-primary me-1">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.PaymentID" class="btn btn-sm btn-outline-primary me-1">
                        <i class="bi eye"></i>
                    </a> 
                    <a asp-action="Delete" asp-route-id="@item.PaymentID" class="btn btn-sm btn-outline-primary me-1">
                        <i class="bi bi-trash"></i>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
