@model IEnumerable<_13TPI_Pet_Adoption_and_Foster_Centre_NZ.Models.Payment>

@{
    ViewData["Title"] = "Index";
}

<h1>Payments</h1>

<div class="d-flex justify-content-end mb-3">
    <a asp-action="Create" class="btn btn-success" title="Create New">
        <i class="bi bi-plus-circle"></i>
    </a>
</div>


<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <label>Find by Name of PaymentMethod or PaymentStatus: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" /></label>
            <input type="submit" value="Search" class="btn btn-default" />
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
                <td class="text-center">
                    <div class="btn-group" role="group">
                        <a asp-action="Edit" asp-route-id="@item.PaymentID" class="btn btn-sm btn-warning" title="Edit">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.PaymentID" class="btn btn-sm btn-info" title="Details">
                            <i class="bi bi-eye"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.PaymentID" class="btn btn-sm btn-danger" title="Delete">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
