@model _13TPI_Pet_Adoption_and_Foster_Centre_NZ.Models.Shelter

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Shelter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShelterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShelterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FranchiseID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FranchiseID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableBeds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableBeds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupiedBeds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupiedBeds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperatingHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperatingHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShelterType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShelterType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageFile)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ShelterID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
