@model IEnumerable<_13TPI_Pet_Adoption_and_Foster_Centre_NZ.Models.Shelter>

@{
    ViewData["Title"] = "Index";
}

<h1>Organisation Shelters</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShelterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FranchiseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableBeds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OccupiedBeds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperatingHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShelterType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageFile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShelterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FranchiseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableBeds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OccupiedBeds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperatingHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShelterType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.ShelterID">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ShelterID">Details</a> |
                <a class= "btn btn-danger" asp-action="Delete" asp-route-id="@item.ShelterID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
