@using _13TPI_Pet_Adoption_and_Foster_Centre_NZ.Areas.Identity.Data.Helpers
@model PaginatedList<_13TPI_Pet_Adoption_and_Foster_Centre_NZ.Models.PaymentStatus>
@{
    ViewData["Title"] = "Payment Status";
}
<h1>Payment Status</h1>
<p><a asp-action="Create" class="btn btn-success">Create New</a></p>
<form asp-action="Index"><input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control mb-2" placeholder="Search..." /></form>
<table class="table">
    <thead><tr><th><a asp-action="Index" asp-route-sortOrder="@ViewData["StatusSortParm"]">Status</a></th><th></th></tr></thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StatusName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PaymentStatusID" class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil-square"></i></a>
                    <a asp-action="Details" asp-route-id="@item.PaymentStatusID" class="btn btn-sm btn-outline-info"><i class="bi bi-eye"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.PaymentStatusID" class="btn btn-sm btn-outline-danger"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_Pagination" model="Model" />
