@model IEnumerable<_13TPI_Pet_Adoption_and_Foster_Centre_NZ.Models.Location>

@{
    ViewData["Title"] = "Index";
}

<h1>Location</h1>

<p>
    <a class = "btn btn-primary" asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <label>Find by Name of Shelter Location PostCode or Region: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" /></label>
            <input type="submit" value="Search" class="btn btn-default" />
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surburb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["RegionSortParm"]">@Html.DisplayNameFor(model => model.Region)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PostCodeSortParm"]">@Html.DisplayNameFor(model => model.PostCode)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surburb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.LocationID">Edit</a> |
                <a class=" btn btn-info" asp-action="Details" asp-route-id="@item.LocationID">Details</a> |
                <a class = "btn btn-danger" asp-action="Delete" asp-route-id="@item.LocationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
