@model IEnumerable<_13TPI_Pet_Adoption_and_Foster_Centre_NZ.Models.Pet>

@{
    ViewData["Title"] = "Index";
}

<h1>Pets in Orginisation Shelters</h1>

<p>
    <a asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle"></i> Create New
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShelterID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BreedID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShelterID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BreedID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
            <td>
                   <td>
                    <a asp-action="Edit" asp-route-id="@item.PetID" class="btn btn-sm btn-warning">
                        <i class="bi bi-pencil-square"></i> Edit
                    </a>

                    <a asp-action="Details" asp-route-id="@item.PetID" class="btn btn-sm btn-info">
                        <i class="bi bi-eye"></i> Details
                    </a>

                    <a asp-action="Delete" asp-route-id="@item.PetID" class="btn btn-sm btn-danger">
                        <i class="bi bi-trash"></i> Delete
                    </a>
                </td>
        </tr>
}
    </tbody>
</table>
